astroid==2.4.1
audioread==2.1.8
baidu-aip==2.2.18.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
ffmpeg==1.4
future==0.18.2
idna==2.9
isort==4.3.21
joblib==0.14.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
librosa==0.7.2
llvmlite==0.31.0
matplotlib==3.2.1
mccabe==0.6.1
numba==0.48.0
numpy==1.18.3
pycparser==2.20
pydub==0.24.0
pylint==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
toml==0.10.0
torch==1.5.0
torchaudio==0.5.0
tqdm==4.46.0
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
